* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(./img/anna-pelzer-IGfIGP5ONV0-unsplash.jpg);
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.col-1-of-3 {
  margin: 130px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  position: relative;
  -webkit-box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0);
          box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0);
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid grey;
}

.card__picture {
  background-blend-mode: screen;
}

.card__picture-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b)), url(./img/dan-gold-4_jhDO54BYg-unsplash.jpg);
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b), url(./img/dan-gold-4_jhDO54BYg-unsplash.jpg);
  height: 13rem;
  background-size: cover;
}

.card__picture-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b)), url(./img/anna-pelzer-IGfIGP5ONV0-unsplash.jpg);
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b), url(./img/anna-pelzer-IGfIGP5ONV0-unsplash.jpg);
  height: 13rem;
  background-size: cover;
}

.card__picture-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b)), url(./img/lily-banse--YHSwy6uqvk-unsplash.jpg);
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b), url(./img/lily-banse--YHSwy6uqvk-unsplash.jpg);
  height: 13rem;
  background-size: cover;
}

.card__side {
  width: 20rem;
  height: 30rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-radius: 30px;
  opacity: 0.9;
}

.card__side-front-1 {
  background-color: white;
}

.card__side-front-2 {
  background-color: white;
}

.card__side-front-3 {
  background-color: white;
}

.card__side-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b));
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__side-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b));
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__side-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a1c71), color-stop(#d76d77), to(#ffaf7b));
  background-image: linear-gradient(to right bottom, #3a1c71, #d76d77, #ffaf7b);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side-front-1 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side-front-2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side-front-3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side-back-1 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card:hover .card__side-back-2 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card:hover .card__side-back-3 {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
/*# sourceMappingURL=style.css.map */